.all-courses{
    /* height: 100vh; */
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#courses-page{
    overflow: hidden;
    scroll-behavior: smooth;
}

.homeh1{
    margin-top: 0%;
    padding-top: 8%;
    left: -8%;
    transform: scale(.8, 1.8);
    position: fixed;
    z-index: 5;
    font-size: 20rem;
    text-align: center;
}

.jumbotron-courses {
    background-color: rgba(100, 148, 237, 0.932);
    /* position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* top: 0px; */
    /* position: fixed; */
    /* width: 100%; */
}

.course1-page {
    background-color: rgba(233, 171, 15, 0.932);
    /* top: 0px; */
    /* position: fixed; */
}

.course2-page {
    /* background-color: rgba(30, 194, 30, 0.849); */
    background-color:rgb(93, 79, 182);
    /* background-color: rgba(163, 59, 214, 0.856); */
}

.course3-page {
    background-color:rgb(81, 183, 218);
}

.course4-page {
    background-color:rgb(216, 125, 95);
    /* background-color:rgb(255, 115, 64); */
}

.course5-page {
    background-color:#474747;
}

.course6-page {
    background-color:darkslateblue;
}

#follower1 {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background-color: #cccccc;
    position: absolute;
    opacity: 0.8;
    z-index: 5;
    transition-duration: 0.2s;
    transform: translate(-50%,-50%);
}

#follower2 {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #454554;
    opacity: 0.6;
    position: absolute;
    z-index: 4;
    transition-duration: 0.4s;
    transform: translate(-50%,-50%);
}

.jtext {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.2vw;
    color: white;
    position: relative;
    top: 220px;
    left: 240px;
    width: 40%;
    position: relative;
    z-index: 4;
}

.jumbotron-text {
    margin-top: -15px;
}

.homeh1 {
    color: white;
    opacity: 0.2;
}

.main-course { 
    position: relative;
    /* z-index: 11; */
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
}

.main-course-text {
    margin-top: 115px;
    width: 50%;
    float: left;
    position: relative;
    z-index: 11;
}

.main-course-img {
    position: relative;
    z-index: 10;
    width: 100%;
    /* margin-bottom: 10%; */
    /* margin-top: 30%; */
    height: 100vh;
    /* overflow: hidden; */
}

.main-course-name {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    position: relative;
    /* z-index: 11; */
}

.main-course-content {
    font-size: 1.2vw;
    color: #ececec;
    margin-top: 20px;
    font-family: sans-serif;
    position: relative;
    /* z-index: 11; */
    /* font-weight: 600; */
}

.view-course-button {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.4vw;
    color: inherit;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;    
    width: fit-content;
    position: relative;
    z-index: 11;
    transition-duration: 0.4s;
    font-weight: 600;
}

.view-course-button:hover span:after {
    content: '\00bb';
    transition: 0.5s;
    position: absolute;
    right: 15px;
    transition-duration: 0.4s;
}

.view-course-button:hover {
    opacity: 0.9;    
    padding-right: 35px;
    padding-left: 15px;
    transition-duration: 0.4s;
}



.scroll-down {
    position: relative;
    /* bottom: 50px; */
    /* left: 50%; */
    text-align: center;
    width: 100%;
    z-index: 28;
}

.scroll-down-button {
    position: relative;
    bottom: 0px;
    z-index: 28;
    border: none;
    text-align: center;
    background-color: rgba(100, 148, 237, 0);
}

.illust1 {
    width: 20vw;
    margin-left: 75%;
    margin-top: -25%;
    /* position: relative; */
    z-index: 11;
}

.illust4 {
    width: 20vw;
    margin-left: 75%;
    margin-top: -35%;
    /* position: relative; */
    z-index: 11;
}

.illust2 {
    width: 20vw;
    margin-left: 55%;
    margin-top: -10%;
    /* margin-top: -5%; */
    position: relative;
    z-index: 12;
}

.illust3 {
    width: 15vw;
    margin-left: 80%;
    margin-top: -15%;
    /* margin-top: -5%; */
    position: relative;
    z-index: 14;
}


@media screen and (max-width:1020px){
    
    .homeh1{
    margin-top: 20%;
    margin-left: 5%;
    position: absolute;
    z-index: 5;
    font-size: 12rem;
    text-align: center;
}


}


@media screen and (max-width:620px){
    
    
.jtext {
    font-size: 5.2vw;
    top: 350px;
    left: 80px;
    width: 40%;
}

.jumbotron-text {
    margin-top: -15px;
    margin-bottom: 15px;
}

    .homeh1{
        margin-top: 50%;
        margin-left: 5%;
        position: absolute;
        z-index: 5;
        font-size: 4.5rem;
        text-align: center;
    }

    
.main-course {
    position: relative;
    /* z-index: 11; */
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-course-text {
    margin-top: 115px;
    width: 50%;
    float: left;
    position: relative;
    z-index: 11;
}

.view-course-button {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 3.4vw;
}
    
.main-course-name {
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    position: relative;
    /* z-index: 11; */
}

.main-course-content {
    font-size: 4.2vw;
    color: #ececec;
    margin-top: 20px;
    font-family: sans-serif;
    position: relative;
    /* z-index: 11; */
    /* font-weight: 600; */
}

.illust1 {
    width: 40vw;
    margin-left: 60%;
    margin-top: -85%;
    /* position: relative; */
    z-index: 11;
}

.illust4 {
    width: 40vw;
    margin-left: 60%;
    margin-top: -100%;
    /* position: relative; */
    z-index: 11;
}

.illust2 {
    width: 30vw;
    margin-left: 60%;
    margin-top: -15%;
    /* margin-top: -5%; */
    /* position: relative; */
    z-index: 12;
    /* display: none; */
}

.illust3 {
    display: none;
}

}