.all-courses{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}


.homeh1{
    margin-top: 0%;
    padding-top: 8%;
    left: -8%;
    transform: scale(.8, 1.8);
    position: fixed;
    z-index: 5;
    font-size: 20rem;
    text-align: center;
}

.jumbotron-courses {
    background-color: rgba(100, 148, 237, 0.932);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.course1-page {
    background-color: rgba(184, 135, 11, 0.932);
    position: absolute;
    /* margin-top: 100vh; */
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.course2-page {
    background-color: rgba(0, 100, 0, 0.849);
    /* margin-top: 200vh; */
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.course3-page {
    background-color: rgba(153, 50, 204, 0.856);
    /* margin-top: 300vh; */
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#follower1 {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background-color: #cccccc;
    position: absolute;
    opacity: 0.8;
    z-index: 5;
    transition-duration: 0.08s;
    transform: translate(-50%,-50%);
}

#follower2 {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #454554;
    opacity: 0.6;
    position: absolute;
    z-index: 4;
    transition-duration: 0.15s;
    transform: translate(-50%,-50%);
}

.jtext {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.2vw;
    color: white;
    position: relative;
    top: 220px;
    left: 240px;
    width: 40%;
    position: relative;
    z-index: 4;
}

.jumbotron-text {
    margin-top: -15px;
}

.homeh1 {
    color: white;
    opacity: 0.2;
}

.main-course {
    position: relative;
    z-index: 6;
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: space-between;
}

.main-course-text {
    margin-top: 115px;
    flex: 0.5;
}

.main-course-name {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
}

.main-course-content {
    font-size: 1.2vw;
    color: #cccccc;
    margin-top: 20px;
    font-family: sans-serif;
    /* font-weight: 600; */
}

.view-course-button {
    font-size: 1.4vw;
    color: inherit;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}

.view-course-button:hover {
    background-color: lightblue;
}


@media screen and (max-width:1020px){
    
    .homeh1{
    margin-top: 20%;
    margin-left: 5%;
    position: absolute;
    z-index: 5;
    font-size: 12rem;
    text-align: center;
}
}


@media screen and (max-width:620px){
    
    .homeh1{
        margin-top: 50%;
        margin-left: 5%;
        position: absolute;
        z-index: 5;
        font-size: 4.5rem;
        text-align: center;
    }
}