.formpage{
    /* background-color: rgb(83, 50, 231); */
    background-color: rgba(59, 170, 153, 0.795);
    /* overflow: hidden; */
    height: 100%;
    padding-bottom: 80px;
}

.formpageSection{
    display: flex;
    /* height: 100vh; */
    height: fit-content;
}

.leftFormSection{
    flex: 0.5;
    margin-top: 10%;
    color: whitesmoke;
    padding-left: 5%;
}

.formHead{
    font-size: 3.5rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.formPar{
    font-size: 1.3rem;
    font-weight: bold;
    /* color: rgb(173, 170, 170); */
    color: #4a34ca;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.rightFormSection{
    flex: 0.5;
    height: fit-content;
    margin-top: 50px;
}

.submit-button {
    width: 95%;
    box-shadow: 1px 1px 2px gray;
    background-color: lightseagreen;
    font-family: 'Montserrat';
    transition-duration: 0.2s;    
}

.submit-button:hover {
    box-shadow: 1px 1px 2px 2px gray;
    transition-duration: 0.2s;
    font-weight: 600;
}

.click-button {
    box-shadow: 0px 5px 5px 0px rgb(0,0,0,0.25);
    color: rgb(255, 200, 0);
    font-weight: 600;
}

.class-buttons {
    display: flex;
    margin-bottom: 10px;
}

.class-button {
    flex: 1;
}

.class-button-real {    
    width: 95%;
    border-radius: 5px;
    border: 1px solid turquoise;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;  
    transition-duration: 0.1s;
}

.class-button-real:hover {
    border: 1px solid darkturquoise;
    box-shadow: 0px 4px 4px 0px rgb(0,0,0,0.25);
    /* color: rgb(255, 200, 0); */
    transition-duration: 0.1s;
}


@media screen and (max-width:1020px){
    
.formHead{
    font-size: 3rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.formPar{
    font-size: 1.1rem;
    font-weight: bold;
    /* color: rgb(173, 170, 170); */
    color: #4a34ca;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
}


@media screen and (max-width:620px){
    .formHead{
        margin-top: 50px;
        font-size: 2rem;
        color: black;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }
    
    .formPar{
        font-size: 1rem;
        font-weight: bold;
        /* color: rgb(173, 170, 170); */
        color: #4a34ca;
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
    }

    .formpageSection{
        display: flex;
        /* height: 100vh; */
        height: fit-content;
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .lottieForm{
        display: none;
    }
    /* .leftFormSection{
        flex: 0.3;
    }
    */
    .rightFormSection{
        margin-top: 5px;
    } 
    .formInfo {
        padding-left: 5px;
        padding-right: 5px;
        /* margin-left: 0px; */
        text-align: center;
        /* width: 100%; */
        border-radius: 15px;
        width: 90%;
        margin-left: 5%;
    }
    .rightFormSection {
        /* margin: -8%; */
        padding: 0px;
    }
}