.formInfo {
    background-color: white;
    /* height: 60px;
    display: flex;  */
    width: 80%;
    height: 80vh;
    box-shadow: 10px 10px 8px 10px #312e50;
      border-radius: 45px;
      padding: 46px;
      margin-left: 10%;
      margin-top: 100px;
      color: rgb(0, 0, 0);
  }