.home{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}

.homeh1{
    margin-top: 0%;
    padding-top: 8%;
    color: black;
    left: -8%;
    transform: scale(.8, 1.8);
    position: relative;
    z-index: 5;
    font-size: 20rem;
    text-align: center;
}

.homeh2{
    margin: 0;
    margin-top: 8%;
    color: rgba(240, 255, 240, 0.938);
    font-size: 450%;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    text-align: left;
}

.homeTop{
    background-color: rgba(27, 184, 176, 0.712);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.image1{
    width: 25%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    transition-delay: 800ms;
}

.image2{
    width: 40%;
float:right;
    margin-right: 15%;
    margin-top: 2%;
    transition-delay: 500ms;
}

@media screen and (max-width:1020px){
    
    .homeh1{
    margin-top: 20%;
    margin-left: 5%;
    position: absolute;
    z-index: 5;
    font-size: 12rem;
    text-align: center;
}

.homeh2{
    margin: 0;
    margin-top: 20%;
    font-size: 300%;
    text-align: left;
    margin-right: 25%;
    margin-left: 25%;
}


.image1{
    width: 35%;
    float: right;
    margin-right: 5%;
    margin-top: 15%;
}

.image2{
    width: 35%;
float:right;
    margin-right: 15%;
    margin-top: 5%;
}

}


@media screen and (max-width:620px){
    
    .homeh1{
        margin-top: 50%;
        margin-left: 5%;
        position: absolute;
        z-index: 5;
        font-size: 4.5rem;
        text-align: center;
    }
    
    .homeh2{
        margin: 0;
        margin-top: 50%;
        font-size: 200%;
        text-align: left;
        margin-right: 10%;
        margin-left: 10%;
    }

    
.image1{
    width: 45%;
    float: right;
    margin-right: 5%;
    margin-top: 30%;
}

.image2{
    width: 65%;
    float: right;
    margin-right: 15%;
    margin-top: 20%;
}

    }